{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="movie_detail">
  <h2>{{ movie.title}}</h2>
  <h4>{{ movie.original_title }}</h4>
  <div>
    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_url }}" alt="{{ movie.title }}">
  </div>
  <h5>{{ movie.score }} | {{ movie.open_date }}</h5>
  <p>{{ movie.like_users.count }}명이 이 영화를 좋아합니다.</p>
  <div class="movie_description">
    <p>{{ movie.description }}</p>
  </div>

  <div class="movie_reviews">
    <form action="">
      <input type="text" placeholder="리뷰를 입력해주세요.">
      <input type="number" min="1" max="10" value="1">
      <button type="submit">저장</button>
    </form>
    <hr>
    <h3>리뷰 목록</h3>
    {% for review in movie.review_set.all %}
      <p>{{ review.content }}</p>
      <p>{{ review.score }}</p>
    {% empty %}
      <p>리뷰가 없어요</p>
    {% endfor %}
  </div>
</div>

{% endblock %}