{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block body %}
<span class="cite_name">
  <h1>일</h1>
  <h1>이</h1>
  <h1>관</h1>
  <h1>지</h1>
</span>
<br>

{% for movie in movies %}
  <div class="movie">
    <a href="{% url 'movies:detail' movie.pk %}" class="movieItem">
      <img src="https://image.tmdb.org/t/p/w300{{ movie.poster_url }}" alt="{{ movie.title }}">
      <h3>{{ movie.title }}</h3>
    </a>
  </div>
{% empty %}
  <p>영화가 없습니다..T^T</p>
{% endfor %}


{% endblock %}