{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block body %}
<span class="cite_name">
  <h1 class="title1">하루<sub>(일)</sub></h1>
  <h1 class="title2">이틀<sub>(이)</sub></h1>
  <h1 class="title3">보는 것도<sub>(관)</sub></h1>
  <h1 class="title4">아니지</h1>
</span>
<br>

{% for movie in movies %}
  <div class="movie">
    <a href="{% url 'movies:detail' movie.pk %}" class="movieItem">
      <img src="https://image.tmdb.org/t/p/w300{{ movie.poster_url }}" alt="{{ movie.title }}">
      <h3>{{ movie.title }}</h3>
    </a>
  </div>
{% empty %}
  <p>영화가 없습니다..T^T</p>
{% endfor %}


{% endblock %}