{% extends 'base.html' %}

{% block body %}

<h2>유저 상제 정보</h2>
<p>{{ selected_user.username }}</p>
<p>팔로워: {{ selected_user.followers.count }}</p>
<p>팔로잉: {{ selected_user.followings.count }}</p>
{% if selected_user != user %}
  <a href="{% url 'accounts:follow' selected_user.id %}" class="btn btn-outline-dark mb-2">
    {% if user in selected_user.followers.all %}
      팔로우 취소
    {% else %}
      팔로우
    {% endif %}
  </a>
{% endif %}
<div>
  <h4>좋아요 목록</h4>
  {% for movie in user.like_movies.all %}
    <a href="{% url 'movies:movie_detail' movie.id %}" class="btn btn-outline-dark mb-2"></a>
    {{ movie.title }}</a>
    {% empty %}
    <p>좋아요를 눌러주세요!</p>
  {% endfor %}
</div>
<div>
  <h4>작성한 평점 목록</h4>
  {% for review in user.review_set.all %}
    <p>{{ review.movie.title }}</p>
    <span>{{ review.content }} - </span><span>{{ review.score }} 점</span>
    {% empty %}
    <p>작성한 리뷰가 없습니다.</p>
  {% endfor %}
</div>


<a href="{% url 'accounts:account_index' %}">목록으로</a>
{% endblock %}